@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "TomatoGrotesk";
  src: local("TomatoGrotesk"),
    url("./assets/fonts/TomatoGrotesk-Regular.otf") format("truetype");
  /* font-weight: bold; */
}

@font-face {
  font-family: "TomatoGrotesk";
  src: local("TomatoGrotesk"),
    url("./assets/fonts/TomatoGrotesk-Bold.otf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "TomatoGrotesk";
  src: local("TomatoGrotesk"),
    url("./assets/fonts/TomatoGrotesk-Medium.otf") format("truetype");
  /* font-weight: ; */
}

.regular-font {
  font-family: TomatoGrotesk;
}

.bold-font {
  font-family: TomatoGrotesk;
  font-weight: bold;
}

.medium-font {
  font-family: TomatoGrotesk;
  font-weight: normal;
}

.header {
  background-image: url("./assets/img/Frame\ 130.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.links li a {
  color: #06969e;
}

/* .links a:hover {
  content: "• ";
  color: #0698a0;
} */

.links li a:hover {
  /* content: "";
  position: absolute;
  top: -15px;
  background: red;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  left: calc(50% - 8px); */
}

.sans-font {
  font-family: "DM Sans", sans-serif;
}
